.App {
  
 
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
  justify-content: center;
}

.card {
  margin: 20px;
  text-align: center; /* Center text in the card */
}

.card p {
  margin-bottom: 8px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
